body  {font-family: "Courier New"}
input {border:1px solid #ccc;}
input[type="text"] {border:1px solid #ccc;}

#base {margin:0px auto; width:960px;}

.clearfix        {zoom: 1;}
.clearfix:before {content: ""; display: table;}
.clearfix:after  {content: ""; display: table; clear: both;}

/* 工作列表 */
.list            {width:100%; /*border: 1px solid #ccc;*/}
.list .header    {background: #EFF0F2;}
.list .header td {font-weight: bold;}
.list .row       {}
.list .row td    {border-bottom:1px solid #EFF0F2;}

/* 工作列 */
#tool_bar #tool_left  {float:left;}
#tool_bar #tool_right {float:right;}

/* 工作項目 */
.jobBox               {border:1px solid #ccc; background:#eff; margin:3px 0px; padding:5px 7px; border-radius: 7px;}
.jobBox .jobInfo      {}
.jobBox .jobNote      {display:none; border: 1px solid #ccc; background: #fff; margin:5px 0px 5px 40px; padding: 5px; font-size:12px;}
.jobBox .no           {float:left; font-size:12px; width:30px; color:#999; padding:3px 7px 3px 3px; text-align:center;}
.jobBox .title        {}
.jobBox .createTime   {float:right; font-size:12px; width:150px; color:#999; text-align: center; padding: 3px 0px;}
.jobBox .hours        {float:right; font-size:12px; width:130px; color:#999; padding: 3px 0px;}
.jobBox .usedHours    {float:right; font-size:12px; width:110px; color:#999; padding: 3px 0px;}
.jobBox .surplusHours {float:right; font-size:12px; width:90px; color:#999; padding: 3px 0px;}
.jobBox .more         {float:right; font-size:12px; width:50px; color:#00f; text-align: center; cursor: pointer; padding: 3px 0px;}
.jobBox .tools        {float:right; font-size:12px; width:50px; color:#999; text-align: center;  padding: 3px 0px;}
.jobBox:hover         {border:1px solid #ccc; background:#EEF1FF; margin:3px 0px; padding:5px 7px; border-radius: 7px;}
.jobBox .text         {color:#000;}

/* 表單 */
.form div {min-height:25px;}

/* 按鈕 */
.button        {border:1px solid #ccc; border-radius: 5px; padding:3px 5px; background: #277C95; color:#fff;}
.button:hover  {border:1px solid #fff; border-radius: 5px; padding:3px 5px; background: #27955B; color:#fff;}
.button_icon   {cursor: pointer;}
 
/* 錯誤訊息 */
.error {border:1px solid #ccc; background:#eff; margin:3px 0px; padding:5px 7px; border-radius: 7px; text-align: center;}