
#base {margin:0px auto; width:960px; padding-top:30px;}

/* 工作列表 */
.list            {width:100%; /*border: 1px solid #ccc;*/}
.list .header    {background: #EFF0F2;}
.list .header td {font-weight: bold;}
.list .row       {}
.list .row td    {border-bottom:1px solid #EFF0F2;}

/* 工作項目 */
.jobBox               {border:1px solid #ccc; background:#eff; margin:3px 0px; padding:5px 7px; border-radius: 7px;}
.jobBox .jobInfo      {}
.jobBox .jobNote      {display:none}
.jobBox .title        {}
.jobBox .createTime   {float:right; font-size:12px; width:200px; color:#999; text-align: right;}
.jobBox .hours        {float:right; font-size:12px; width:150px; color:#999;}
.jobBox .more         {float:right; font-size:12px; width:50px; color:#999; text-align: center;}
.jobBox .tools        {float:right; font-size:12px; width:50px; color:#999; text-align: center; padding:3px;}
.jobBox:hover         {border:1px solid #ccc; background:#DCEBEB; margin:3px 0px; padding:5px 7px; border-radius: 7px;}

/* 表單 */
.form div {min-height:25px;}

/* 按鈕 */
.button        {border:1px solid #ccc; border-radius: 5px; padding:3px 5px; background: #277C95; color:#fff;}
.button:hover  {border:1px solid #fff; border-radius: 5px; padding:3px 5px; background: #27955B; color:#fff;}
.button_icon   {cursor: pointer; }
 
/* 錯誤訊息 */
.error {border:1px solid #ccc; background:#eff; margin:3px 0px; padding:5px 7px; border-radius: 7px; text-align: center;}